    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/fullstack.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                                <span class="section-heading-lower">About Me</span>
                            </h2>
                            <p>📍Chicago<br>
                                🌍 Mexicana <br>
                                ⚡  Bilingual <br>
                                🧠  I'm learning HTML, CSS,JavaScript, Node, SQl & Python<br>
                                🤝  I'm open to collaborating on Fullstack Development <br>
                                Skills: Html, CSS, JavaScript, Node.Js, Express.Js, SQL<br>
                            <p align="left">
                            </p>
                            <p class="mb-0">
                                Excited to enter the
                                <em>World-wide-web Development</em>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>