    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/me.jpg" height="200px" width="20%"
                    alt=" Picture of me" />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Northwestern Bootcamp</span>
                        <span class="section-heading-lower">Fullstack Developer</span>
                    </h2>
                    <p class="mb-3">Found the courage to do a career change! <br> From teacing to coding, follow me on
                        the
                        journey to become a Fullstack Developer <br>
                        <a href="mailto: anacecyflores1@gmail.com" target="_blank">
                            <img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white&color=071A2C"
                                alt="Gmail" />
                        </a>
                        <a href="https://www.linkedin.com/in/anacecyflores/" target="_blank">
                            <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white&color=071A2C"
                                alt="LinkedIn Badge" />
                        <a href="https://github.com/anacecyflores1" target="_blank">
                            <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white&color=071A2C"
                                alt="GitHub Badge" />
                    </p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="/projects">Checkout my
                            Projects!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                    
                        </h2>
                        <p class="mb-0">
                            <a href="https://github.com/anacecyflores1" align="left"><img
                                    src="https://github-readme-stats.vercel.app/api/top-langs/?username=anacecyflores1&langs_count=10&title_color=ADEFD1FF&text_color=f5f5f5&icon_color=14b8a6&bg_color=171717&hide_border=true&locale=en&custom_title=Top%20%Languages"
                                    alt="Top Languages" /></a>
                            <img src="https://github-readme-stats.vercel.app/api?username=anacecyflores1&show_icons=true&hide_rank=true&hide=stars,&count_private=true&title_color=ADEFD1FF&text_color=f5f5f5&icon_color=9CC3D5FF&bg_color=171717&hide_border=true&show_icons=true"
                                alt="github stats" />

                            <br>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>